.login-body {
  div {
    box-sizing: border-box;
  }
  img.fixed-image {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -5;
    bottom: 0;
    left: 0;
  }
  div.bgBox {
    min-height: 100vh;
    position: fixed;
    width: 100%;
    z-index: -3;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
  }
  .login-container {
    margin: 100px auto;
    min-width: 200px;
    max-width: 600px;
    height: calc(100vh - 400px);
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;

    .submit-bar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
