.login-container {
  width: 100%;
  height: calc(100vh - 100px);
  background-image: url("@/assets/login-bg.jpeg");
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .submit-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}