.tree-modal {
  margin: 30px;
  overflow-y: scroll;
  overflow-x: hidden;
  inline-size: 235px;
  inset-inline-start: -18px;
  block-size: calc(100vh - 150px);
  position: relative;

  .tree-node {
    box-shadow: 10px 10px #ccc;
  }
}